@using AllPay.EInvoice.Integration.Enumeration
@model AllPay.Einvoice.Integration.Sample.ViewModel.AllowanceViewModel
@{
    ViewBag.Title = "歐付寶電子支付";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using (Html.BeginForm("Index", "Allowance", FormMethod.Post))
{
    <h2>發票折讓</h2>
    <div class="div1">
        <table class="table">
            <tr>
                <th>
                    廠商編號(必填)：
                </th>
                <td>
                    @Html.TextBoxFor(m => m.MerchantID, new { @Value = "2000132" })
                </td>
            </tr>
            <tr>
                <th>
                    發票號碼(必填)：
                </th>
                <td>
                    @Html.TextBoxFor(m => m.InvoiceNo, new { @Value = "ZB00000022" })
                </td>
            </tr>
            <tr>
                <th>
                    通知類別(必填)：
                </th>
                <td>
                    @Html.DropDownListFor(m=>m.AllowanceNotify,new SelectList(Enum.GetValues(typeof(AllowanceNotifyEnum))))
                </td>
            </tr>
            <tr>
                <th>
                    客戶名稱(選填)：
                </th>
                <td>
                    @Html.TextBoxFor(m => m.CustomerName, new { @Value = "翁健雄" })
                </td>
            </tr>
            <tr>
                <th>
                    客戶手機號碼(選填)：
                </th>
                <td>
                    @Html.TextBoxFor(m => m.NotifyPhone, new { @Value = "0960141549" })
                </td>
            </tr>
            <tr>
                <th>
                    客戶電子信箱(選填)：
                </th>
                <td>
                    @Html.TextBoxFor(m => m.NotifyMail, new { @Value = "wjs6238@gmail.com" })
                </td>
            </tr>
            <tr>
                <th>
                    折讓單總金額(必填)：
                </th>
                <td>
                    @Html.TextBoxFor(m => m.AllowanceAmount, new { @Value = "10" })
                </td>
            </tr>
            <tr>
                <th>
                    商品名稱(必填)：
                </th>
                <td>
                    @Html.TextBoxFor(m => m.ItemName, new { @Value = "111111" })
                </td>
            </tr>
            <tr>
                <th>
                    商品數量(必填)：
                </th>
                <td>
                    @Html.TextBoxFor(m => m.ItemCount, new { @Value = "1" })
                </td>
            </tr>
            <tr>
                <th>
                    商品單位(必填)：
                </th>
                <td>
                    @Html.TextBoxFor(m => m.ItemWord, new { @Value = "個" })
                </td>
            </tr>
            <tr>
                <th>
                    商品價格(必填)：
                </th>
                <td>
                    @Html.TextBoxFor(m => m.ItemPrice, new { @Value = "10" })
                </td>
            </tr>
            <tr>
                <th>
                    商品課稅別(選填)：
                </th>
                <td>
                    @Html.TextBoxFor(m => m.ItemTaxType, new { @Value = "" })
                </td>
            </tr>
            <tr>
                <th>
                    商品合計(必填)：
                </th>
                <td>
                    @Html.TextBoxFor(m => m.ItemAmount, new { @Value = "10" })
                </td>
            </tr>
        </table>
    </div>
    <div class="buttonPanel">
         <button type="submit">
            送出</button>
        <button type="reset">
            重新填寫</button>
    </div>  
    <h2>顯示結果</h2>
    <span id="answer" class="div1">@ViewBag.message</span>
}
