<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    
    <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />
    <script src="@Url.Content("~/Scripts/jquery-1.4.4.min.js")" type="text/javascript"></script>

</head>

<body>
    <div class="page">

        <div id="header">
           
            <div id="menucontainer">

                <ul id="menu">
                    <li>@Html.ActionLink("一般開立", "Index","InvoiceCreate")</li>
                    <li>@Html.ActionLink("延遲或觸發開立發票", "Index", "InvoiceDelay")</li>
                    <li>@Html.ActionLink("開立折讓", "Index", "Allowance")</li>
                    <li>@Html.ActionLink("發票作廢", "Index", "InvoiceInvalid")</li>
                    <li>@Html.ActionLink("折讓作廢", "Index", "AllowanceInvalid")</li>
                    <li>@Html.ActionLink("查詢發票", "Index", "QueryInvoice")</li>
                    <li>@Html.ActionLink("查詢作廢", "Index", "QueryInvoiceInvalid")</li>
                    <li>@Html.ActionLink("查詢折讓明細", "Index", "QueryAllowance")</li>
                    <li>@Html.ActionLink("查詢折讓作廢明細", "Index", "QueryAllowanceInvalid")</li>
                    <li>@Html.ActionLink("發送通知", "Index", "InvoiceNotify")</li>
                    <li>@Html.ActionLink("Trigger觸發或延遲開立發票", "Index", "InvoiceTrigger")</li>
                </ul>

            </div>
        </div>

        <div id="main">
            @RenderBody()
            <div id="footer">
            </div>
        </div>
    </div>
</body>
</html>
